/* Setting Fonts ------------------------------------- */

/* import from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General Blueprint Style */
@font-face {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/bpicons/bpicons.eot');
	src: url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'), url('../fonts/bpicons/bpicons.woff') format('woff'), url('../fonts/bpicons/bpicons.ttf') format('truetype'), url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
}


/* Basic page settings ------------------------------------- */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: "Montserrat", sans-serif;
  color: var(--text-black);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* .aitt-body, .resources-body, .home-body{
  overflow-x: hidden;
  overflow-y: hidden;
} */

.index-page{
  z-index: 1000;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.aitt-page, .home-page, .resources-page{
  z-index: 1000;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  
}

.page-wrapper{
  position: relative;
}


/* Basic transitions for color/night mode toggle ------------------ */
h1,
section,
p,
span,
svg{
  /* transition: all 5s; */
  transition: background-color 5s, color 2s;
}

/* Variable Styles for Toggle On/Off ------------------------------- */
.hidden{
  display: none;
  transition: all 2s;
}

.opacity-none{
  opacity: 0;
}

.opacity-half{
  opacity: 0.5;
  }

.opacity-full{
  opacity: 1;
}

.animated{
  display: inline-block; /* won't be able to move w/o this, default is "inline-element" */ 
  transform: translateY(100%);
}

.slide{
  /* transform: translateX(24px); didn't work, must set slide class to another layer of wrapping to use transform */
  /* Set the absolute position instead: */
  left: 28px;
}

/* Keyframes used in CSS below --------------------------------------------- */
@keyframes bounce {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(8px);
  }
}

@keyframes load {
  0%{
    transform: translateY(0);
  }
  20%{
    transform: translateY(-12px);
  }
  40%{
    transform: translateY(0);
  }
  /*If you use 0%, 20%, 40%, result is a continuous wave. 0%, 20%, 40% results in a stopping wave because keyframes reach completion at 40%, remain stagnant from 40% to 100% */
}

/* Setting the document colors --------------------------------- */
:root{
  --text-black: rgb(47, 47, 47);
  --primary-color: #faf4e5;
  --color-orange1: #e5a1aa;

  /* Light Themed Variables */
  --color-text-light: rgb(47, 47, 47);
  --color-background-light: rgba(250,244,229, 0.9);
  --color2: rgba(187, 187, 187, 0.802);

  /* --color-background-light: rgba(72, 72, 72, .8); */
  --color-orange1-light: #FCB908;
  --color-orange2-light: #FCB908;
  --color-blue-light: #099BE4;

  /* Dark Themed Variables */
  --color-text-dark: #FAF4e5;
  --color-background-dark: #1f2024;
}

/* Setting color themes --------------------------------------- */
.light-theme{
  --color-text: var(--color-text-light);
  --color-background: var(--color-background-light);
  --color-orange1: var(--color-orange1-light);
  --color-orange2: var(--color-orange2-light);
  --color-blue: var(--color-blue-light);

  --color-button: var(--primary-color);
  --color-header: var(--color-background-dark);
  --color-navText: var(--color-text-dark);

  --color-aitt: var(--color2);

}

.dark-theme{
  --color-text: var(--color-text-dark);
  --color-background: var(--color-background-dark);
  --color-orange1: var(--color-text-dark);
  --color-orange2: var(--color-text-dark);
  --color-blue: var(--color-text-dark);

  --color-button: var(--color-background-dark);
  --color-header: var(--color-background-light);
  --color-navText: var(--color-text-light);
}

/* Color Overrides ---------------------------------------------- */
.blue-text{
  color: var(--color-blue);
}
.blue-border{
  border-color: var(--color-blue);
}
.blue-background{
  background-color: var(--color-blue);
}
.orange2-text{
  color: var(--color-orange2);
}
.orange2-border{
  border-color: var(--color-orange2);
}
.orange2-background{
  background-color: var(--color-orange2);
}

/* Navbar styles ---------------------------------------------- */
.navContainer{
  position: fixed;
  height: 13vh;
  width: 100%;
  z-index: 1500;
  background-color: var(--color-header);
}

#logoID{
  width: 16vw;
  z-index: 1000;
  transition: transform .5s ease-in-out;
}

#logoID:hover{
  transform: scale(1.03);
}

.logo-wrapper{
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: left;
  z-index: 2000;
  top: -5vh;
  left: 3vw;
}

.navbar{
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 6vh;
  right: 48px;
  z-index: 1000;
}

.nav-link{
padding-left: 5vw;
color: var(--color-text);
}

.page-link{
  position: relative;
  color: var(--color-navText);
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
	letter-spacing: 3px;
  transition: color 0.5s ease-in-out;
}  

.page-link:after {
  content: "";
  position: absolute;
  bottom: -0.6em;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  height: 1.5px;
  background-color: var(--color-navText);
  transition: width .4s ease-in-out;
}

.page-link:hover {
  color: var(--color-orange1-light);
}

.page-link:hover:after {
  width: 60%;
}

.page-link:active {
  color: rgba(var(--color-navText), 0.1);
}

/* Footer styles ----------------------------------------------------- */
.footer{
  position: absolute;
  bottom: 0px;
  height: 7vh;
  width: 100%;
  z-index: 1000;
  background-color: #FCB908;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  }

  /* General Button Styles ------------------------------------------------ */
  .text-button {
    display: inline-block;
    background-color: var(--color-background);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .text-button:hover {
    box-shadow: 0px 0px 10px var(--color-orange1-light);
    transform: translateY(-3px);
    transform: scale(1.05);
    background-color: var(--color-background);
  }

  #twitter{
    padding-bottom: 5px;
  }

/* Canvas for three.js Experience ------------------------------------------------------- */
.experience{
  position: fixed;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
}

/* Preloader Loading Screen Styles ------------------------------------------ */
.preloader{
  background-color: var(--color-background-dark);
  width: 100%;
  height: 100vh;
  position: fixed; /* keeps loader page fixed on screen */
  z-index: 3000;
}

.preloader-wrapper{
  display: flex;
  justify-content: center; /* keeps centered without using margins */
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading{
  display: flex;
  justify-content: center; 
  align-items: center;
}

.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px; /* otherwise circles are too close */
  background-color: var(--color-orange1-light);
  animation: load 1s ease-in-out infinite;
}

/* Pseudo selector: selects the n-th child of the class ".circle" (3 children) */
/* Apply offset to each child of ".circle" to create wave effect */
.circle:nth-child(2){
  animation-delay: 0.1s;
}
.circle:nth-child(3){
  animation-delay: 0.2s;
}

/* Hero Section Content Styles ------------------------------------------------------- */

.hero{
  width: 100vw;
  height: 100vh;
}

.hero-wrapper{
  position: relative;
  height: 100%;
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 1100px;
}

.hero-main{
  position: absolute;
  bottom: 130px; /* 168 original */
  left: 13vw;
  color: var(--color-text);
}

.hero-main-title{
  font-size: 90px;
  color: var(--color-text);
  text-align: center;
}

.hero-main-description{
  padding-top: 12px;
  font-size: 24px;
  color: var(--color-text);
  text-align: center;
}

.hero-main-title-sub{
  font-size: 5em;
  color: var(--color-text);
  text-align: center;
}

/* Intro text animation styles --------------------------------------------- */
.arrow-svg-wrapper{
  position: absolute;
  top: 90%;
  left: 50%;
  opacity: 0; /* Sets initial state, set to opacity: 1 at end of intro1 animation */
  color: var(--color-text);
  transform: translate(-50%, -50%);  
  animation: bounce 0.5s ease-in alternate infinite; /* Animated arrow svg */
}

.intro-text{
  display: flex;
  justify-content: center; 
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-text);
  transform: translate(-50%, -50%); /* the text, moves 50% of its height/width */
}

/* Sun/Night Mode Toggle Bar Styles ------------------------------------------ */
.toggle-bar{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 6vh;
  right: 10.5vw;
  z-index: 3000;
}

.sun-wrapper, 
.moon-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--color-navText);
  /* Must set <path fill = "currentColor" ........></path> in html for svg to accept colors */

}

.toggle-button{
  /* creates the pointer effect on hover */ 
  cursor: pointer;  

  position: relative;
  width: 56px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-orange1);
  border-radius: 999px;
  margin: 0px 16px; /* 0 px top/bottom, 16px left/right */
  border: none;

  /* google search good CSS box shadow, copied */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}

.toggle-circle{
  position: absolute;
  left: 6px;
  border-radius: 50%; 
  width: 20px;
  height: 20px;
  background-color: var(--color-button);
  transition: all 0.2s ease-in-out 
}

.toggle-button:hover .toggle-circle{
  /* Scales about center, setting h/w 20 -> 16px scales from left side */
  transform: scale(0.9); 
}

/* Progress Bar Styles -------------------------------------------------- */
.progress-wrapper{
  height: 0px;
  width: 12px;
  z-index: 1000;
}

.progress-bar-wrapper-left{
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar-wrapper-right{
  position: absolute;
  top: 0;
  right: 0;
}

.progress-bar{
  height: 100vh;
  width: 100%;
  background-color: var(--color-orange1);
  transform-origin: top center;
  transform: scaleY(1);
}

/* Content Sections Styles ------------------------------------------------- */
.section-margin{
  height: 100px;
  width: 100%;
}

/* Index page section */
.section{
  position: relative;
  width: 50%;
  padding-top: 2vh;
  padding-bottom: 350px;
  padding-right: 10vw;
  padding-left: 10vw;
  margin: 0;
  background-color: var(--color-background);
  overflow: hidden;
}

/* Override for last section on page */
.fifth-section{
  padding-bottom: 200px;
  padding-left: 5vw;
}

/* All other pages section */
.section-notIndexPage{
  position: relative;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 150px;
  padding-right: 10vw;
  padding-left: 10vw;
  margin: 0;
  background-color: var(--color-background);
  overflow: hidden;
}

.left{
  margin-right: auto;
  border-top-right-radius: 700px 700px;
  border-bottom-right-radius: 200px 200px;
}

.right{
  margin-left: auto;
  border-top-left-radius: 700px 700px;
  border-bottom-left-radius: 200px 200px;
}



.section-intro-wrapper{
  position: relative;
  padding: 20% 5%;
  border-bottom: 2px solid var(--color-orange1);
  padding-bottom: 4vh;
}

.section-title{
  position: relative;
  color: var(--color-orange1)
}

.section-detail-wrapper{
  position: relative;
  padding: 1% 5%;
}

.section-heading{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 4vh;
  color: var(--color-text);
}

.section-text{
  line-height: 2;
  margin-top: 18px;
  font-size: 16px;
  color: var(--color-text);
}

/* General notes: By setting the position absolute, the number is locked to the parent container. 
Then, you can set the position (bottom and right set here) to fix the position 
of the number in the container, even as the container moves relatively to the page */
.section-number{
  position: absolute;
  bottom: 15px;
  right: 0;
  color: var(--color-orange1);
  font-size: 24px;
}

/* Reveal.js gallery Styles on AITT Page ------------------------------------- */
.section-slide{
  background-color: var(--color-background-dark);
}

.slideMod{
  padding: 10% 5%;
}

.aitt-slide-text{
  color: var(--color-orange1-light);
}

.aitt-slide{
  width: 100%;
  height: 600px;
  cursor: none;
}



/* //////////////////////-------------------------------------------------------
END OF CSS FOR DESKTOP
/////////////////////-------------------------------------------------------- */

/* Media Queries for Mobile Responsiveness ---------------------------------------------------------------- */
@media (max-width: 968px){

  .left{
    /* margin-right: auto; */
    border-top-right-radius: 300px 300px;
    border-top-left-radius: 300px 300px;

    border-bottom-right-radius: 300px 300px;
    border-bottom-left-radius: 300px 300px;

  }
  
  .right{
    /* margin-left: auto; */
    border-top-right-radius: 300px 300px;
    border-top-left-radius: 300px 300px;

    border-bottom-right-radius: 300px 300px;
    border-bottom-left-radius: 300px 300px;
  }

/* General ---------------------------------------- */

.scroller{
  overflow-x: hidden;
}

.section{
  width: 100%;
}
.progress-bar-wrapper-left{
  right: 0;
  left: 0; /* overrides the left margin setting when shifted to mobile */ 
}


/* Logo Styles -------------------------------------- */
#logoID{
  width: 45vw;
}

.logo-wrapper{
  top: -1vh;
  left: 2vw;
}

/* Navbar styles ----------------------------------- */
.navContainer {
  position: fixed;
  top: 11vh;
  left: 80vw;
  width: 50px;
  height: 50px;
  background-color: var(--color-text);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  z-index: 3000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navContainer:before,
.navContainer:after,
.navContainer span {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: var(--color-navText);
  border-radius: 2px;
}

.navContainer:before {
  top: 10px;
}

.navContainer:after {
  bottom: 10px;
}

.navContainer span {
  top: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.navbar.open {
  opacity: 1;
  visibility: visible;
}

.nav-link {
  justify-content: center;
  align-items: center;

  padding: 1rem;
  color: white;
  font-weight: bold;
  display: none;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.navbar.open .nav-link {
  display: block;
  margin-bottom: 1rem;
}

/* Hero Section Content Styles ----------------------- */
.hero{
  width: 120vw;
  height: 100vh;
}

.hero-wrapper{
  width: 100%;
  margin: 0;
}

.hero-main{
  left: 5vw;
  bottom: 30vw;
  text-align: center;
}

.hero-main-title{
  font-size: 10vw;
}

.hero-main-description{
  padding-top: 12px;
  font-size: 24px;
}

.hero-main-title-sub{
  font-size: 3em;
}


/* Intro text animation styles ------------------------ */
.intro-text{
  padding-right: 15vw;
  font-weight: 800;
  font-size: 1.5em;
  transform: translate(-50%, -50%); 
}

.arrow-svg-wrapper{
  position: absolute;
  top: 90%;
  left: 40%;
}


/* Sun/Night Mode Toggle Bar Styles ------------------- */

/* .header {
  position: fixed;
  top: 0;
  height: 20vh;
  width: 100%;
  z-index: 1500;
  background-color: #1919192c;
} */

  
.toggle-bar{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 4vh;
  right: 7vw;
  z-index: 3000;
}

.toggle-mobile-mod{
  right: 7vw;
}

.sun-wrapper, 
.moon-wrapper{
  color: var(--color-text-light);
}

/* Reveal.js gallery Styles on AITT Page -------------- */
.aitt-slide {
  margin-top: 3vh;
  width: 100%;
  height: 30vh;
}

.slides section[data-background-image] {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

}

